/*
　年末終わったらコメントアウト
*/
body{
	min-height: 10000000px;
}
#pc-left-banner{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-size: contain;
	background-image: url(../img/qanda_banner_pc.png);
}